<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">

	<h1>New observation</h1>

	<%= render 'form', observation: @observation %>

	<%= link_to 'Back', observations_path %>
</div>
</div>
