<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <%= image_tag "tanamilogo.png", width: "200" %>
  <p class="w3-xlarge">Tracking Active Galactic Nuclei with Austral Milliarcsecond Interferometry</p>
</header>


<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-col">
      <h1>TANAMI</h1>
      <h5 class="w3-padding-32">TANAMI (Tracking Active Galactic Nuclei with Austral Milliarcsecond Interferometry) is a multiwavelength program to monitor relativistic jets in active galactic nuclei (AGN) of the Southern Sky. TANAMI consists of 1) a VLBI core program targeting the parsec-scale structures of blazars, radio galaxies and other types of AGN, 2) complementary radio spectral and light-curve monitoring programs with ATCA and the Ceduna telescope, and 3) higher-energy multiwavelength observations with REM, Swift, XMM-Newton, Suzaku, INTEGRAL, Fermi/LAT and other telescopes. Currently, TANAMI is monitoring about 135 jets at different cadences based on their known variability timescale. Though a significant fraction of these were originally not known to be gamma-ray sources, the vast majority have now been detected by Fermi in the gamma-ray band.</h5>

      <%= image_tag "tanami_sky_world10.jpg", width: "100%"%>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-col">
      <h1>Observations</h1>
      <h5 class="w3-padding-32">TANAMI observations are made with the Australian/South-African Long Baseline Array (LBA+), using the antennas at Parkes (64m), ATCA (5x22m), Mopra (22m), Hobart (26m), Ceduna (30m) and the associated antennas Tidbinbilla (DSN 70m or 34m), the IVS antennas TIGO (6m) and O'Higgins (9m) and Hartebeesthoek (26m).  In recent years, our array is frequently augmented by Warkworth (30m), Katherine (12m), Yarragadee (12m), and a single antenna from ASKAP (12m). We conduct snapshot observations at 8.4GHz and 22GHz with a typical ~60min integration time per frequency observed in typically 8 scans distributed over 12 hours. Target sources are monitored every ~4 months with a typical angular resolution of 1.5 x 0.7 mas. </h5>
    </div>

    <div class="w3-col w3-center">
      <%= image_tag "lba_telescopes.png", width: "100%"%>
    </div>


    <div class="w3-col">
      <h5>Multifrequency blazar SED studies will play an important role in the Fermi era: The TANAMI program is supported by an approved ATCA program for flux density monitoring between 6cm and 7mm, with largely overlapping target lists (team contact Phil Edwards, Philip.Edwards@csiro.au). Simultaneous to TANAMI and Fermi observations, Swift UVOT/XRT observations are collecting UV to X-ray broadband source spectra (PI M. Kadler, Matthias.Kadler@sternwarte.uni-erlangen.de). </h5>
    </div>

  </div>
</div>


<!-- Third Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-col">
      <h1>The TANAMI-Fermi Connection</h1>
      <h5 class="w3-padding-32"> AGN jets pointed at small angles to our line of sight, so-called blazars, emit radiation up to the highest energies in the electromagnetic spectrum. The Fermi satellite searches for high frequency gamma-ray emission from AGN (and other objects) on the whole sky. We are studying the jet activity of Southern-Hemisphere AGN at radio wavelengths contemporaneously with Fermi. Key questions addressed by the TANAMI program: Where are the γ-rays produced in AGN jets? Are the γ-rays  beamed with the same Lorentz factor as indicated by superluminal motion? Are γ-ray flares accompanied by jet-component ejections? Is γ-ray  activity in AGN related to the production of extragalactic neutrinos detected by IceCube? </h5>
    </div>
  </div>
</div>
<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
</div>